.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 20px;
}

.element {
  border: 1px solid #9d0208;
  border-radius: 20px;
  padding: 5px;
}

.element:hover {
  background-color: #9d0208;
  color: white;
}
