.nav {
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;

  background-color: #03071e;
}

.nav__container {
  width: 100%;

  display: flex;
  justify-content: center;

  column-gap: 10px;

  color: white;
}
